mixin controls(data)
	ul.controls_list
		each item in data
			li.controls_list__item
				button(id=item.id class=item.current ? 'controls_list__btn controlListBtn current' : 'controls_list__btn controlListBtn' aria-label='slide button')