mixin slider(data)
	ul.slider_section.sliderSection.swiper-wrapper
		each item in data.items
			li.slider_section__item.sliderItem.swiper-slide
				.slider_section__slide
					+picture({img: item.bg,
					customClass: item.imgClass})
					.slider_section__descr
						.slider_section__descr_title= item.title
						p.slider_section__descr_text= item.descr
						a(href='#').slider_section__link
							+icon('arrow_lg')
