//---------------------------------------------fonts
$font_path: "../fonts/";
$font_1: 'Avenir', 'Arial', sans-serif;
$font_size_base: 12px;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;

$color_text_base: $black;
$color_text_inner: #333333;
$color_text_light: #808284;
$color_link_base: #4aa3df;

$color_accent: #E31837;
$color_transparent: rgba(0, 0, 0, 0.1);

// bg
$body_bg: $white;
$color_bg_header: $white;
$color_devider: #E0DEDE;
$color_bg_base: #808284;
$color_bg_inner: #CDC9C9;
$color_bg_footer_light: #F6F6F6;
$color_bg_footer_dark: #4B4B4B;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popup : 101,
	header : 100,
	footer : 100
);
//---------------------------------------------z-index###

//---------------------------------------------layout
$page_width: 120rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_radius:.5rem;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
//---------------------------------------------media points

//---------------------------------------------forms
$input_height: 4rem;
$input_offset: 0 2rem;
$input_font_size: $font_size_base;
$input_border_color: #ccc;
$input_border_color_active: $black;
$input_placeholder_color: rgba($black, .4);
$input_text_color: $black;
$input_radius: $gl_radius;
//---------------------------------------------forms###