mixin header
	header.header
		.header__top
			.header__top_in.section_in
				.header__logo
					+logo({
						img : 'logo',
						type : 'png',
						href : '#',
						label : 'logo',
						width : '113',
						height : '22',
						altText : 'Aid logo'
					})
					p.header__logo_text Global dataset on HIV epidemiology and response
				.header__top_nav.desktop_mod
					+menu({
						gl_class: 'nav',
						gl_mod : 'header',
						items: [
							{title : 'Indicators catalogue'},
							{title : 'report builder'}
						]
					})
					.language
						+button({
							el_class: 'language__btn',
							text: 'english',
							ariaLabel: 'Change language'
						})
							+icon('arrow_sm', '')
						+menu({
							gl_class: 'language',
							items: [{ title: 'english', active: true }, { title: 'ukrainian' }, { title: 'polish' }, { title: 'germany' }],
						})
		.header__bottom
			.header__bottom_in.section_in
				nav.header__nav.nav
					+menu({ 
						gl_class: 'nav',
						gl_mod : 'bottom', 
						items: [
							{ title: 'Fact sheets'},
							{ title: 'Epidemic & response'},
							{ title: 'key populations'},
							{ title: 'finance'},
							{ title: 'law & policies'},
						],
					})
					if array.header_search !== 'off'
						a.header__search_btn.desktop_mod.popupSearchBtn(href="#")
							+icon('search', '')
				.header__top_nav.mobile_mod
					+menu({
						gl_class: 'nav',
						gl_mod : 'header',
						items: [
							{title : 'Indicators catalogue'},
							{title : 'report builder'}
						]
					})
					.language
						+button({
							el_class: 'language__btn',
							text: 'english',
							ariaLabel: 'Change language'
						})
							+icon('arrow_sm', '')
						+menu({
							gl_class: 'language',
							items: [{ title: 'english', active: true }, { title: 'ukrainian' }, { title: 'polish' }, { title: 'germany' }],
						})
		a.header__search_btn.popupSearchBtn(href="#")
			+icon('search', '')
		.menu_trigger.menuTrigger
			span.menu_trigger_decor