mixin header
	header.header
		.section_in
			.header__top
				.header__logo
					+logo({
						img : 'logo',
						type : 'png',
						href : '#',
						label : 'logo',
						width : '113',
						height : '22',
						altText : 'Aid logo'
					})
					p.header__logo_text Global dataset on HIV epidemiology and response
				.header__mobile_panel
					+button({
						el_class: 'header__search_btn',
						ariaLabel: 'Search button'
					})
						+icon('search', '')
					+button({
						el_class: 'header__burger_btn',
						ariaLabel: 'Menu open'
					})
						+icon('burger', '')
					+button({
						el_class: 'header__close_btn',
						ariaLabel: 'Menu close'
					})
						+icon('close', '')
				.header__menu
					+menu({
						gl_class: 'nav',
						gl_mod : 'header',
						items: [
							{title : 'Indicators catalogue'},
							{title : 'report builder'}
						]
					})
					.language
						+button({
							el_class: 'language__btn',
							text: 'english',
							ariaLabel: 'Change language'
						})
							+icon('arrow_sm', '')
						+menu({
							gl_class: 'language',
							items: [{ title: 'english', active: true }, { title: 'ukrainian' }, { title: 'polish' }, { title: 'germany' }],
						})
			.header__bottom
				nav.header__nav
					+menu({ 
						gl_class: 'nav',
						gl_mod : 'bottom', 
						items: [
							{ title: 'Fact sheets'},
							{ title: 'Epidemic & response'},
							{ title: 'key populations'},
							{ title: 'finance'},
							{ title: 'law & policies'},
						],
					})