include mixins/_m_header
include mixins/_m_footer
include mixins/_m_slider
include ../blocks/_logo
include ../blocks/_button
include ../blocks/_ico_svg
include ../blocks/_list
include ../blocks/_link_list
include ../blocks/_post_list
include ../blocks/_title