//---------------------------------------------layout
.header {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 100%;
	will-change: transform;

	@include z-index(header);
}

.header_main_row {
	@extend %global_flex_block_row_nowrap_space_between_center;

	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: var(--height-header);
	padding: 0 var(--gl-indent);
	border-bottom: 1px solid gray;
}

//---------------------------------------------layout###
//---------------------------------------------menu
.header_menu {
	@extend %transition_transform;

	@include bp($point_3) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: var(--full-screen);
		overflow-x: hidden;
		overflow-y: auto;
		background: lightgoldenrodyellow;
		transform: translate(0, -100%);

		@include flex_block(row, wrap, center, center);

		// body.menu_open & {
		// 	transform: translate(0, 0);
		// }
	}
}

.header_menu_list {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	@include bp($point_3) {
		height: 100%;
		width: 100%;
		flex: 0 0 auto;
		flex-direction: column;
		justify-content: center;
		padding: var(--height-header) var(--gl-indent);
		margin: auto;
	}
}

.header_menu_item {
	&:last-child {
		margin: 0;
	}

	@include bp($point_2, min) {
		margin-right: var(--gl-indent);
	}

	@include bp($point_3) {
		margin-bottom: var(--gl-indent);
		flex: 0 0 auto;
	}
}

//---------------------------------------------menu###

//---------------------------------------------logo
.logo_text {
	&.header_mod {
		color: darkgray;

		&:hover {
			color: darken(darkgray, 10%);
		}

		&:hover, &:focus {
			text-decoration: none;
		}
	}
}

//---------------------------------------------logo###

//---------------------------------------------trigger


//---------------------------------------------trigger###

//---------------------------------------------user sidebar
.main_sidebar {
	@extend %transition_transform;

	position: absolute;
	top: 0;
	left: 100%;
	height: 100%;
	width: 30rem;
	background: lightseagreen;
	color: white;
	transform: translate(-100%, 0); // hide sidebar
	//transform:translate(0,0); show sidebar
}

//---------------------------------------------user sidebar###

//---------------------------------------------main_sidebar
.user_sidebar {
	@extend %transition_transform;

	position: absolute;
	top: 0;
	left: 200%;
	height: 100%;
	width: 30rem;
	background: lightseagreen;
	color: white;
	transform: translate(0, 0); // hide sidebar
	//transform:translate(-100%,0); show sidebar
}

//---------------------------------------------main_sidebar###