.nav__list {
	display: flex;
	flex-direction: column;
	color: $white;

	@include bp($point_2, min) {
		flex-direction: row;
		flex-wrap: wrap;	
	}
}
.nav__list--header {	
	.nav__item {
		margin-bottom: 2.4rem;
	}
	.nav__item {
		@include bp($point_2, min) {
			color: $color_text_light;
			margin-right: 4.5rem;
			margin-bottom: 0;
		}
	}
	.nav__link {
		letter-spacing: 0.05rem;
	}
}
.nav__list--bottom {
	.nav__item {
		margin-bottom: 2.6rem;

		@include bp($point_2, min) {
			margin-bottom: 0;
		}
	}
	.nav__link {
		font-size: 1.2rem;
		letter-spacing: 0.2rem;

		@include bp($point_2, min) {
			letter-spacing: 0.15rem;
			font-size: 1rem;
		}
	}
	
	@include bp($point_2, min) {
		justify-content: flex-start;
		column-gap: 5.5rem;
		color: $black;
	}
}

.nav__link {
	color: inherit;
	text-transform: uppercase;
}
