.posts_block {	
	padding: 3rem 1.25rem;
	min-height: 430px;
  background: linear-gradient(180deg, $color_bg_inner 70%, transparent 50%);
	color: $black;

	@include bp($point_2, min) {
		padding: 7rem 6rem 5rem;

	}
}
.posts_block {
	.section_in {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@include bp($point_2, min) {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;	
			justify-content: flex-start;
		}
	}
}
.posts_block__link {
	align-self: flex-end;
	font-family: $font_2;
	font-size: 1rem;
	line-height: 2rem;
	letter-spacing: -0.04rem;
	text-transform: uppercase;
	color: inherit;
	cursor: pointer;

	@include bp($point_2, min) {
		font-size: 1.2rem;
		margin-bottom: 2rem;
		margin-left: auto;
	}
}
