.resources_block {
	padding: 0 1.25rem;
	color: $black;

	@include bp($point_2, min) {
		padding: 0 6rem;
	}
}
.resources_block__list {
	display: flex;
	flex-direction: column;

	@include bp($point_2, min) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 4rem;
		align-items: stretch;
	}
}
.resources_block__item {
	&:nth-child(odd) {
		@include bp($point_2, min) {
			margin-bottom: 1.5rem;
			border-bottom: 2px solid $color_devider;
		}		
	}
	&:nth-child(3) {
		@include bp($point_2, min) {
			order: -1;
		}
	}
	
	@include bp($point_2, min) {
		position: relative;
		width: 48%;
		padding: 0 4rem 2rem 0;
		margin-bottom: 0;
		border-bottom: unset;
	
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			width: 2rem;
			height: 1rem;
			background-image: url('../images/icons/arrow_red.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			pointer-events: none;
		}
	}

	@include bp($point_3) {
		padding: 0 2rem 2rem 0;
		margin-bottom: 1.5rem;
		border-bottom: 2px solid $color_devider;
	}
}
.resources_block__link {
	font-family: $font_3;
	color: inherit;
	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: none;
		opacity: 0.8;
	}
	@include bp($point_3) {
		font-size: 1.7rem;
	}
	@include bp($point_2, min) {
		font-size: 2.5rem;
	}
}
.resources_block__text {
	display: block;
}
.resources_block__accent {
	color: $color_accent;
}
.resources_block__event {
	font-size: 1rem;

	@include bp($point_2, min) {
		font-size: 1.2rem;
	}
}

