.resources_block {	
	padding: 0 0 3rem;
	color: $black;
}
.resources_block__item {
	position: relative;
	padding: 2.8rem 0;
	border-bottom: 2px solid $color_devider;
}
.resources_block__link {
	display: flex;
	flex-direction: column;
	font-size: 1.7rem;
	font-family: $font_3;
	color: inherit;
	cursor: point;
}
.resources_block__text {
	margin-bottom: 1rem;
}
.resources_block__accent {
	color: $color_accent;
}
.resources_block__event {
	font-size: 1rem;
}

@include bp($point_2, min) {
	.resources_block__item:nth-child(odd) {
		border-bottom: 2px solid $color_devider;
	}
	.resources_block__list {
		column-count: 2;
		column-gap: 6.6rem;
	}
	.resources_block__item {
		position: relative;
		padding: 2.8rem 0;
		border-bottom: unset;
	
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			width: 2rem;
			height: 1rem;
			background-image: url('../images/icons/arrow_red.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
}