//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;

	font-size: 1rem;

	margin: 0 auto;
}

.section_in {
	width: 100%;
	margin: 0 auto;

	@include bp($point_2, min) {
		max-width: $page_width;
	}
}
