.slider_section__slide {
	display: flex;
	height: 100%;
	position: relative;
	width: 100%;
}
.slider_section__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.slider_section {
	min-height: 50rem;
}
.slider_section__descr_title {
	color: inherit;
	font-family: $font_3;
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 1rem;
	text-transform: uppercase;
}
.slider_section__descr {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	min-height: 16rem;
	color: $white;

	@include bp($point_3) {
		padding: 0 1.25rem;
	}
	@include bp($point_2, min) {
		padding: 0 6rem;
	}
}
.slider_section__descr_text {	
	display: -webkit-box;
	word-wrap: break-word;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
	margin-bottom: 8rem;
	font-family: $font_2;
	overflow: hidden;
	word-break: break-word;
	color: inherit;
}
.slider_section__link {
	align-self: center;
	margin-bottom: 1rem;
}
.slider_section__link .icon {
	height: 1.5rem;
	transform: rotate(90deg);
	width: 1rem;
}
.slider_section__link:last-child {
	margin-bottom: 1rem;
}
