.slider {
	position: relative;
	width: 100%;
}
.slider__text {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-line-clamp: 5;
	overflow: hidden;
	-webkit-box-orient: vertical;
	padding: 3rem 1rem;
	color: $white;
	z-index: 10;
	pointer-events: none;
}
.slider__title {
	margin-bottom: 0.8rem;
	font-size: 3rem;
	color: inherit;
}
.slider__descr {
	font-size: 1.2rem;
	color: inherit;
}

@include bp($point_4, min) {
	.slider {
		margin: 0 auto;
	}
	.slider__title {
		font-size: 5rem;
		color: inherit;
	}
	.slider__descr {
		font-size: 1.5rem;
		color: inherit;
	}
	.slider__text {
		padding: 5rem 3rem;
	}
}

@include bp($point_2, min) {
	.slider {
		max-width: $page_width;
	}
	.slider__title {
		width: 75rem;
		font-weight: 300;
	}
	.slider__descr {
		width: 62rem;
	}
	.slider__text {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		color: $white;
		padding: 9.6rem 6.6rem;
	}
}