.slider_section__slide {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	height: 100%;
	position: relative;
	width: 100%;
}
.slider_section__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.slider_section {
	min-height: 50rem;
}
.slider_section__descr_title {
	color: inherit;
	font-family: "Avenir-Light", "Arial", sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 1rem;
	text-transform: uppercase;
}
.slider_section__descr {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	color: #fff;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 16rem;
	padding: 0 1.25rem;
	width: 100%;

	@include bp($point_2, min) {
		padding: 0 6rem;
	}
}
.slider_section__descr_text {
	word-wrap: break-word;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
	color: inherit;
	display: -webkit-box;
	font-family: Avenir-Roman, Arial, sans-serif;
	margin-bottom: 8rem;
	overflow: hidden;
	word-break: break-word;
}
.slider_section__link {
	-ms-flex-item-align: center;
	align-self: center;
	margin-bottom: 1rem;
}
.slider_section__link .icon {
	height: 1.5rem;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	width: 1rem;
}
.slider_section__link:last-child {
	margin-bottom: 1rem;
}
