.social_list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1.5rem;
	justify-content: flex-end;
	column-gap: 2.5rem;
}
.social_list__link {
	display: block;
	color: $black;

	& .icon {
		width: 1.5rem;
		height: 1.5rem;
	}
}