.social_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.social_list__item {
	padding-right: 2.5rem;

	&:last-child {
		padding: 0;
	}
}
.social_list__link {
	display: block;
	color: $black;

	& .icon {
		width: 1.5rem;
		height: 1.5rem;
	}
}