extends ../layout/_layout

block vars
	- array = {body_class:'page', layout_mod:'', sub_keywords:'', title_inner:'Aid'}
block content_block
	section.section.slider.swiper
		.slider__text
			h1.slider__title AIDSinfo
			p.slider__descr UNAIDS leads the world’s most extensive data collection on HIV epidemiology, programme coverage and finance and publishes the most authoritative and up-to-date information on the HIV epidemic.
		+slider({
			items: [
				{
					title: 'Fact sheets',
					descr: 'Global, regional, and country key facts and figures on HIV & AIDS.',
					bg: 'slide1',
					imgClass: 'slider_section__img',
					active: true
				},
				{
					title: 'Epidemic & Response',
					descr: 'HIV epidemiological estimates and country-reported data on their national AIDS response.',
					bg: 'slide2',
					imgClass: 'slider_section__img',
				},
				{
					title: 'key population',
					descr: 'Data on sex workers, men who have sex with men, people who inject drugs, transgender people, and prisoners a for local-level action for policy-makers, program directors, community activists and advocates among others.',
					bg: 'slide3',
					imgClass: 'slider_section__img',
				},
				{
					title: 'finance',
					descr: 'More than 85 different indicators on HIV financial resources submitted through Global AIDS Monitoring and triangulated with HIV and Health financial resources from other agencies, aiming to provide strategic information for policy-makers, program directors and researchers.',
					bg: 'slide4',
					imgClass: 'slider_section__img',
				},
				{
					title: 'Laws & Policies',
					descr: 'HIV-related laws and policies data in countries, reported by both national authorities and civil society to UNAIDS and WHO, aimed at promoting accountability and support joint analysis of policy information with other relevant data to inform national AIDS response.',
					bg: 'slide5',
					imgClass: 'slider_section__img',
				},
			]
		})
		.section__pagination.swiper-pagination
	section.section.info_block
		h2.visually-hidden Information
		.info_block__wrap
			.info_block__inner
				+title({
					text: 'search data'
				})
				.info_block__form
					+button({
						el_class: 'info_block__filter',
						ariaLabel: 'filter button'
					})
						+icon('filter', '')
					+button({
						el_class: 'info_block__search',
						ariaLabel: 'search button'
					})
						+icon('search', '')
					+form_input({				
						blockClass: 'form_search',
						label : true,
						labelClass : 'visually-hidden',
						labelText : 'search info',
						inputType: 'search',
						elClass: 'form_search__input',
						id : 'form_search',
						name : 'search_input',
						placeholder: 'e.g. HIV prevalence, sex workers, South Africa'
					})
				.info_block__descr
				h3.info_block__subtitle popular searches
				.info_block__links
					+links([
						{
						textLink: 'HIV prevalence among sex workers <span>Eastern and Souther Africa</span>'
						},{
						textLink: 'Budget for HIV and AIDS programmes from domestic public sources <span>Global</span>'
						},{
						textLink: 'Elimination of mother-to-child transmission <span>Asia & Pacific</span>'
						},{
						textLink: 'HIV prevalence among sex workers <span>Eastern and Souther Africa</span>'
						},{
						textLink: 'Budget for HIV and AIDS programmes from domestic public sources <span>Global</span>'
						},{
						textLink: 'Elimination of mother-to-child transmission <span>Asia & Pacific</span>'
						}
					])(class='link_list--info')
				a.info_block__link.infoLink view more				
	section.section.posts_block 
		h2.visually-hidden View popular public
		.section_in
			+title({
				text: 'popular publications'
			})
			+post_list([
				{customClass:'post_list__img',img: 'public1'},
				{customClass:'post_list__img',img: 'public2'},
				{customClass:'post_list__img',img: 'public3'},
				{customClass:'post_list__img',img: 'public4'}
			])
			a.posts_block__link(href='#') view all		
	section.section.resources_block
		h2.visually-hidden Resources
		.section_in
			+title({
				text: 'Recommended resources'
			})
			+menu({
				gl_class: 'resources_block',
				items: [
					{title :'<span class="resources_block__text">Core <span class="resources_block__accent">epidemiology</span> slides</span><span class="resources_block__event">July 2020</span>'},
					{title :'<span class="resources_block__text"><span class="resources_block__accent">Seizing</span> the moment</span><span class="resources_block__event">Global AIDS update 2020</span>'},
					{title :'<span class="resources_block__text">Global <span class="resources_block__accent">HIV & AIDS</span> statistics</span><span class="resources_block__event">Global AIDS update 2020</span>'},
					{title :'<span class="resources_block__text"><span class="resources_block__accent">HIV epidemological</span> estimates spreadsheet</span><span class="resources_block__event">1990 - 2019 with uncertainty bounds</span>'}
				]
			})