//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	// --height-header: 10rem;
	--height-footer: 10rem;
	--gl-indent: 3rem;
}

html {
	height: 100%;
	font-size: $font_size_base;
	font-family: $font_1;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: normal;
	word-wrap: normal;
}

body {
	position: relative;
	min-width: $point_8;
	display: flex;
	height: 100%;

	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	@supports (display: grid) {
		display: block;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow-x: hidden;
}

.base {
	width: 100%;
	position: relative;
	padding: var(--height-header) 0 0;

	flex: 1 0 auto;
}

a {
	text-decoration: none;
	color: $color_link_base;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

}

.elements_list {
	padding: 3rem;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
//------------------------------------------------------------base styles###
img {
	display: block;
  object-fit: contain;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.page {
	position: relative;
	width: 100%;
	margin: 0 auto;	
	min-height: 100%;
}
.hidden {
	overflow: hidden;
}
