.header {
	position: relative;
	width: 100%;
	margin: 0 auto;
	font-size: 1rem;
	transition: all .3s ease;
	will-change: transform;

	@include z-index(header);

	@include bp($point_2, min) {
		border-top: 2px solid $color_accent;
	}
}

.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.8rem 1.25rem;

	@include bp($point_2, min) {
		padding: 2rem 6rem 1rem;
		border-bottom: 1px solid $color_transparent;
	}
}
.header__logo_text {
	display: none;
	color: $color_text_light;

	@include bp($point_2, min) {
		display: block;
		font-size: 1rem;
		letter-spacing: 0.04rem;
	}
}
.header__mobile_panel {
	@extend %global_flex_block_row_wrap_flex-end;
}
.header__search_btn,
.header__burger_btn,
.header__close_btn {
	display: block;
	margin-left: 1.25rem;

	.icon {
		width: 100%;
		height: 100%;
	}
}
.header__close_btn {
	display: none;
	width: 1.8rem;
	height: 1.5rem;
}
.header__search_btn {
	width: 3rem;
	height: 1.5rem;

	@include bp($point_2, min) {
		display: none;
	}
}
.header__burger_btn {
	width: 1.8rem;
	height: 1.5rem;

	@include bp($point_2, min) {
		display: none;
	}
}
.header__menu {
	display: none;

	@include bp($point_2, min) {
		display: flex;
		justify-content: space-between;
	}
}
.header__language {
	position: relative;
}
.header__bottom {
	display: none;
	padding: 1.8rem 0;

	@include bp($point_2, min) {
		display: block;
		padding: 2rem 6rem 1rem;
	}
}
.header__nav {
	width: 100%;
}

//------------------------------------------------------------js

.header--open {	
	background-color: $color_accent;
	min-height: 100vh;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	padding-top: 12.5rem;
	transform: translate(0, 0);

	.header__logo {
		display: none;
	}
	.header__search_btn,
	.header__burger_btn {
		display: none;
	}
	.header__close_btn {
		display: block;
		position: absolute;
		top: 1.8rem;
		right: 1.25rem;

	}
	& .section_in {
		display: flex;
		flex-direction: column;
	}
	.header__bottom {
		display: block;
		order: -1;
		padding: 0 1.5rem;	
	}
	.header__top {
		justify-content: flex-start;
		padding-top: 2rem;
	}
	.header__menu {
		display: flex;
		flex-direction: column;
	}
}
